<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="bower-components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower-components/bootstrap/dist/css/bootstrap-theme.min.css">

    <script src="bower-components/jquery/dist/jquery.min.js"></script>
    <script src="bower-components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="bower-components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="bower-components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="bower-components/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>

    <script src="bower-components/angular/angular.min.js"></script>
    <script src="bower-components/angular-route/angular-route.min.js"></script>
    <script src="bower-components/angular-datatables/dist/angular-datatables.min.js"></script>

    <link rel="stylesheet" href="css/main.css">
    <script src="main.js"></script>
    <script src="util/meus-utilitarios.js"></script>
    <script src="financiamento/financiamento-controller.js"></script>
    <script src="financiamento/financiamento-resource.js"></script>

  </head>

  <body ng-app="navegadorApp" ng-controller="FinanciamentoController">
  	<div class='container'>
      <div id='mensagem' class='alert-danger'>
        {{mensagem}}
      </div>

      <div id='financiamento'>
  	    <h1>{{financiamento.linhasProg}}</h1>
        <div>
          <label>Informações básicas</label>
          <p>{{financiamento.infoBasicas}}</p>
        </div>
        <div>
          <label>Condições financeiras</label>
          <p>{{financiamento.condicoesFin}}</p>
        </div>
        <div>
          <label>Setores</label>
          <p><span ng-repeat="setor in financiamento.setores">{{setor}},</span></p>
        </div>
        <div>
          <label>Finalidades</label>
          <p><span ng-repeat="finalidade in financiamento.finalidades">{{finalidade}},</span></p>
        </div>
        <div>
          <label>MPME: </label>
          <p>{{financiamento.mpme}}</p>
        </div>
      </div>

      <p><a href='navegador.html'>Navegador</a></p>
   	</div>
  </body>
</html>
