<!doctype html>
<html ng-app="navegadorApp">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Financiamentos</title>

    <link rel="stylesheet" href="bower-components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower-components/bootstrap/dist/css/bootstrap-theme.min.css">

    <script src="bower-components/angular/angular.min.js"></script>
    <script src="bower-components/angular-route/angular-route.min.js"></script>
    <script src="bower-components/underscore/underscore-min.js"></script>

    <link rel="stylesheet" href="css/main.css">
    <script src="main.js"></script>
    <script src="util/meus-utilitarios.js"></script>
    <script src="navegador/navegador-controller.js"></script>
    <script src="navegador/navegador-servico.js"></script>
    <script src="financiamento/financiamento-resource.js"></script>
    <script src="finalidade/finalidade-resource.js"></script>
    <script src="setor/setor-resource.js"></script>
  </head>

  <body ng-controller="NavegadorController">
    <div class='container'>
      <ng-view>
        <h1>Financiamentos</h1>

        <div id='todas'>
          <h2>Todas as opções</h2>
          <p>Conheça
            <a href='navegador.html' class='btn btn-primary setor'>todas as opções</a> de apoio financeiro
          </p>
        </div>

        <div id='mpme'>
          <h2>Micro, pequena e médias empresas</h2>
          <a class='btn btn-primary setor' href='navegador.html?mpme=true'>
            Melhores opções para quem tem faturamento anual até R$90 milhões.
          </a>
        </div>

        <div id='setores'>
          <h2>Setores</h2>
          <ul>
            <li ng-repeat='setor in setores'>
              <a id='setor_{{setor.nome}}' class='btn btn-primary setor' href='navegador.html?setor={{setor.nome}}'>{{setor.nome}}</a>
            </li>
          </ul>
        </div>
        <div id='finalidades'>
          <h2>Finalidades</h2>
          <ul>
            <li ng-repeat='finalidade in finalidades'>
              <a id='finalidade_{{finalidade.nome}}' class='btn btn-primary finalidade' href='navegador.html?finalidade={{finalidade.nome}}'>{{finalidade.nome}}</a>
            </li>
          </ul>
        </div>
      </ng-view>
    </div>
  </body>
</html>
