<!doctype html>
<html ng-app="navegadorApp" ng-controller="NavegadorController">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{pageTitle}}</title>

    <link rel="stylesheet" href="bower-components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower-components/bootstrap/dist/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="bower-components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="bower-components/datatables.net-responsive-bs/css/responsive.bootstrap.min.css">


    <script src="bower-components/angular/angular.min.js"></script>
    <script src="bower-components/angular-route/angular-route.min.js"></script>

    <script src="bower-components/jquery/dist/jquery.min.js"></script>
    <script src="bower-components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="bower-components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="bower-components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="bower-components/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>

    <link rel="stylesheet" href="css/main.css">

    <script src="main.js"></script>
    <script src="util/meus-utilitarios.js"></script>
    <script src="navegador/navegador-controller.js"></script>
    <script src="financiamento/financiamento-resource.js"></script>
    <script src="setor/setor-resource.js"></script>
    <script src="finalidade/finalidade-resource.js"></script>


  </head>

  <body>
    <div class='container'>
      <h1>{{pageTitle}}</h1>

      <div id='mpme' ng-hide='{{ocultarFiltroMpme}}'>
        <label>
          <input type="checkbox" ng-model="filtro.somenteMpme"/>
          somente MPME
        </label>
        <p>Melhores opções para Micro, Pequenas e Médias Empresas (faturamento até R$90 milhões)</p>
      </div>

      <div id="setores" ng-hide='{{ocultarFiltroSetores}}'>
        <label>
          <input id="filtrarSetores" type="checkbox" ng-model="filtro.filtrarSetores"/>
          filtrar setores
        </label>
        <div>
          <div>
            <ul class="unstyled">
              <li ng-repeat="setor in setores">
                <div class="radioButton">
                  <label>
                    <input type="radio" name="setor" value="{{setor.nome}}" ng-change='setorAlterado()' ng-model="filtro.setor" ng-disabled='!existemFinanciamentosFiltradosParaSetor(setor.nome)'>
                    {{setor.nome}}
                  </label>
                </div>
              </li>
            </ul>
          </div>
          <br>
        </div>
      </div>

      <div id="finalidades" ng-hide='{{ocultarFiltroFinalidades}}'>
        <label>
          <input id='filtrarFinalidades' type="checkbox" ng-model="filtro.filtrarFinalidades"/>
          filtrar finalidades
        </label>
        <ul class="unstyled">
          <li ng-repeat="finalidade in finalidades">
            <label class="radioButton">
              <input type="radio" name="finalidade" value="{{finalidade.nome}}" ng-change='finalidadeAlterada()' ng-model="filtro.finalidade">
              <span>{{finalidade.nome}}</span>
            </label>
          </li>
        </ul>
      </div>
      <br>

      <div id="resultados">
        <h2>Resultados (<span id='contador-de-financiamentos'>{{financiamentosFiltrados().length}}</span>)</h2>
        <!--
			<div id='filtros'>
				<h3>Filtro</h3>
				<p>
					<div>somente MPME? {{filtro.somenteMpme}}</div>
          <div>filtrar Setores: {{filtro.filtrarSetores}}</div>
					<div>Setor selecionado: {{filtro.setor}}</div>
          <div>filtrar Finalidades: {{filtro.filtrarFinalidades}}</div>
					<div>Finalidade selecionada: {{filtro.finalidade}}</div>
				</p>
			</div>
-->

        <table class='table table-striped table-hover datatable'>
          <thead>
            <tr>
              <th>Informações básicas</th>
              <th>Condições Financeiras</th>
              <th>Linha/ Programa</th>
              <th>MPME?</th>
              <th>Setores</th>
              <th>Finalidades</th>
            </tr>
          </thead>
          <tbody class'financiamentos'>
            <tr class='financiamento' ng-repeat="financiamento in financiamentosFiltrados()" href='financiamento.html?id={{financiamento.id}}'>
              <td>{{financiamento.infoBasicas}}</td>
              <td>{{financiamento.condicoesFin}}</td>
              <td>
                  {{financiamento.linhasProg}}
              </td>
              <td class='mpme'>{{financiamento.mpme}}</td>
              <td class='setores'>
                <span class='setor' ng-repeat="setor in financiamento.setores">
                  {{setor}}{{$last ? '' : ', '}}
                </span>
              </td>
              <td>
                <span class='finalidade' ng-repeat="finalidade in financiamento.finalidades">
                  {{finalidade}}{{$last ? '' : ', '}}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <script type="text/javascript">
          jQuery(document).ready(function() {
            var locator = '.datatable';

            iniciarDataTable = function(locator) {
              jQuery(locator).DataTable({
                responsive: true, "language": {
                    "url": "http://cdn.datatables.net/plug-ins/1.10.11/i18n/Portuguese-Brasil.json"
                }
              });
            };

            tornarLinhasClicaveis = function(locator) {
              jQuery(locator+' tbody tr').click(function(){
                  window.location = jQuery(this).attr('href');
                  return false;
              });
            };

            iniciarDataTable(locator);
            tornarLinhasClicaveis(locator);
          });
        </script>
      </div>
    </div>
  </div>
</body>
</html>
