li {
	display: inline;
}

input[type="radio"]:disabled + label {
    text-decoration: line-through;
}

table.datatable tbody tr {
    cursor: pointer;
}

table.datatable tbody tr:hover{
		background-color: rgb(226, 234, 249);
}
