li {
	display: inline;
}

input[type="radio"]:disabled {
	cursor: default;	
}

input[type="radio"]:disabled + label {
		color: lightgrey;
}

table.datatable tbody tr {
    cursor: pointer;
}

table.datatable tbody tr:hover{
		background-color: rgb(226, 234, 249);
}
